{
  "openapi": "3.0.1",
  "info": {
    "title": "Reynolds Communication & Orchestration API",
    "description": "\n**Comprehensive API for bidirectional communication and organizational orchestration**\n\nThis API provides enterprise-grade communication capabilities designed for Azure APIM MCP (Model Context Protocol) integration. \nBuilt with Maximum Effort™ for parallel execution and supernatural coordination efficiency.\n\n## Key Features\n\n### 🎭 Communication Orchestration\n- **Bidirectional Messaging**: Send and receive messages with multiple delivery methods\n- **Command Parsing**: Intelligent parsing of structured commands like 'tell [user] to [action]'\n- **User Resolution**: Flexible user identification via email, username, or display name\n- **Delivery Optimization**: Automatic method selection for optimal message delivery\n\n### 🚀 Integration Capabilities\n- **Azure APIM Ready**: Fully compatible with Azure API Management MCP preview\n- **Teams Integration**: Native Microsoft Teams messaging and chat creation\n- **M365 CLI Support**: Command-line interface integration for advanced operations\n- **Graph API Integration**: Direct Microsoft Graph API communication\n\n### 📊 Monitoring & Telemetry\n- **Health Monitoring**: Comprehensive service health checks and status reporting\n- **Metrics Tracking**: Detailed performance and usage metrics\n- **Audit Logging**: Complete audit trail for all communication activities\n- **Error Handling**: Robust error handling with detailed error responses\n\n### 🛡️ Security & Compliance\n- **Enterprise Authentication**: Full Azure AD integration with role-based access\n- **Audit Trails**: Complete security audit logging for compliance\n- **Rate Limiting**: Built-in rate limiting and throttling support\n- **Secure Communication**: End-to-end secure message delivery\n\n## Azure APIM MCP Configuration\n\nThis API is designed to work seamlessly with Azure APIM's MCP preview feature. Key integration points:\n\n- **Standardized Error Responses**: Consistent error format across all endpoints\n- **Comprehensive Documentation**: Full OpenAPI 3.0 specification with examples\n- **Health Check Endpoints**: Built-in health monitoring for APIM integration\n- **Flexible Authentication**: Support for multiple authentication methods\n\n## Reynolds Persona Integration\n\nAll communication is enhanced with Reynolds' supernatural charm and organizational coordination capabilities:\n- **Maximum Effort™ Approach**: Parallel execution and optimization\n- **Diplomatic Precision**: Professional yet engaging communication style\n- **Organizational Intelligence**: Context-aware messaging and coordination\n",
    "contact": {
      "name": "Reynolds Coordination Team",
      "url": "https://github.com/dynamicstms365/copilot-powerplatform",
      "email": "reynolds@nextgeneration.com"
    },
    "license": {
      "name": "Enterprise License",
      "url": "https://github.com/dynamicstms365/copilot-powerplatform/blob/main/LICENSE"
    },
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://ngl-apim.azure-api.net/reynolds",
      "description": "Production APIM Environment"
    },
    {
      "url": "https://github-copilot-bot.salmonisland-520555ec.eastus.azurecontainerapps.io",
      "description": "Direct Container App Environment"
    },
    {
      "url": "https://localhost:7071",
      "description": "Development Environment"
    }
  ],
  "paths": {
    "/api/Agent/process": {
      "post": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Agent/health": {
      "get": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHealthReport"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHealthReport"
                }
              }
            }
          }
        }
      }
    },
    "/api/Agent/health/status": {
      "get": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Agent/metrics": {
      "get": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentMetrics"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Agent/metrics/reset": {
      "post": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResetResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Agent/configuration": {
      "get": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentConfiguration"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentConfiguration"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentConfiguration"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Agent/capabilities": {
      "get": {
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCapabilities"
                }
              }
            }
          }
        }
      }
    },
    "/api/Communication/send-message": {
      "post": {
        "tags": [
          "Communication"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageDeliveryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Communication/history/{userIdentifier}": {
      "get": {
        "tags": [
          "Communication"
        ],
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": null
            }
          },
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Communication/status/{userIdentifier}": {
      "get": {
        "tags": [
          "Communication"
        ],
        "parameters": [
          {
            "name": "userIdentifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationStatus"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Communication/health": {
      "get": {
        "tags": [
          "Communication"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationHealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/route": {
      "post": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventRoutingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/classify": {
      "post": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventClassification2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/analyze": {
      "post": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlatformRoute"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/stats": {
      "get": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "hours",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            }
          },
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventRoutingStats"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/metrics": {
      "get": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/health": {
      "get": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrossPlatformHealthStatus"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/webhook/github": {
      "post": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitHubWebhookPayload"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GitHubWebhookPayload"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GitHubWebhookPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookProcessingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/inject": {
      "post": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestEventRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TestEventRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TestEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventRoutingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/CrossPlatformEvent/platforms": {
      "get": {
        "tags": [
          "CrossPlatform"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedPlatforms"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/test": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubConnectivityResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/health": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubHealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/installation-info": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubInstallationInfo"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/search": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SemanticSearchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SemanticSearchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SemanticSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/discussions": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscussionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscussionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscussionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubDiscussion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/issues": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIssueRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIssueRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIssueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubIssue"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/comments": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubComment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/content": {
      "put": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContentResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Reynolds-Coordination-ID": {
                "description": "Reynolds coordination tracking identifier",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/GitHub/prompt-action": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "parameters": [
          {
            "name": "X-MCP-Session-ID",
            "in": "header",
            "description": "MCP session identifier for request correlation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Unique request identifier for tracking and debugging",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptBasedActionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptBasedActionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptBasedActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Response-Time": {
                "description": "Response processing time in milliseconds",
                "schema": {
                  "type": "string"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "Number of requests remaining in current rate limit window",
[...]
